<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Doggos The Game</title>
</head>

<body>
  <div class="wrapper">
    <section class="header">
      <h1>DOGGOS GAME!!!</h1>
    </section>
    <section class="animation">ANIMATION</section>
    <section class="menu">MENU</section>
    <section class="score">
      <div class="points-container">
        <span>your score: </span>
        <span class="points">0</span>
        <span> /10</span>
      </div>
    </section>
    <section class="pictureContainer">
      <img class="dogPicture" src="" alt="">
    </section>
    <section class="quiz">
      <h2 class="quiz__title"></h2>
      <p class="quiz__time">10 sec</p>
      <ul class="quiz__answers"> What is tipe of breed?
        <li class="quiz__answer a"></li>
        <li class="quiz__answer b"></li>
        <li class="quiz__answer c"></li>
      </ul>
      <div>X</div>
    </section>

    <section class="footer">footer</section>
  </div>
</body>

</html>