<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Doggos The Game</title>
</head>

<body>
  <div class="wrapper">
    <section class="score">
      <div class="points-container">
        <span class="heart_container">
          <svg class="heart fill" viewBox="0 0 32 29.6">
            <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
            c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z" />
          </svg>
          <svg class="heart fill" viewBox="0 0 32 29.6">
            <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
            c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z" />
          </svg>
          <svg class="heart fill" viewBox="0 0 32 29.6">
            <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
            c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z" />
          </svg>

        </span>
        <span>score: </span>
        <span class="points">0</span>
        <span> /10</span>
      </div>
    </section>
    <section class="pictureContainer">
      <div class="pictureContainer__background"></div>
      <img class="pictureContainer__picture" src="" alt="">
    </section>
    <section class="quiz">
      <h2 class="quiz__title"></h2>
      <p class="quiz__time">10 sec</p>
      <ul class="quiz__answers"> What tipe of breed you see on picture?
        <li class="quiz__answer a"></li>
        <li class="quiz__answer b"></li>
        <li class="quiz__answer c"></li>
      </ul>

    </section>

    <section class="footer">Doggos Game by <span class="footer__author"> &#169; Ultran </span>
    </section>
  </div>


  <div class="startGame">
    <h1>Do you like Doggos?</h1>
    <h2>Get 10 points.</h2>
    <h2>Receive respect of all dogs in the world :)</h2>
    <button class="letsPlay">PLAY</button>
  </div>



  <div class="game-over-container">
    <div class="deathInfo">
      <h1 class="deathInfo__gameOver">GAME OVER!!</h1>
      <img src="https://images.dog.ceo/breeds/bulldog-boston/n02096585_1449.jpg" alt="">
      <h2>Play again,</h2>
      <h3>and earn honor you lost</h3>
      <button class="deathInfo__play-btn">PLAY</button>

    </div>

    <div class="skull_container">
      <div class="skull">
        <div class="eye"></div>
        <div class="eye"></div>
        <div class="nose"></div>
      </div>
      <div class="teeth">
        <div class="tooth"></div>
        <div class="tooth"></div>
        <div class="tooth"></div>
        <div class="tooth"></div>
      </div>
      <div class="bones">
        <div class="bone">
          <div class="bone-inner"></div>
          <div class="bone-inner"></div>
        </div>
        <div class="bone">
          <div class="bone-inner"></div>
          <div class="bone-inner"></div>
        </div>
      </div>
    </div>




    <div class="winnerContainer">
      <h1>WOOHHA! you're real dogs friend !</h1>
      <h3>You earned respect of every dog in the planet :)</h3>
      <h4>Doggos LOVE YOU</h4>
      <div class="winnerContainer__image">
        <img src="https://images.dog.ceo/breeds/vizsla/n02100583_12122.jpg" alt="doggos"
          style="border-radius: 5%; border: 2px solid #e6f3b9">
      </div>
      <button class=" winnerContainer__play-button">PLAY AGAIN</button>


    </div>

    <script src="https://cdn.jsdelivr.net/gh/mathusummut/confetti.js/confetti.min.js"></script>

</body>

</html>