
.wrapper {
    display: grid;
    width: 1000px;
    margin: 0 auto;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 40px 80px 60vh 40px;
    column-gap: 10px;
    row-gap: 15px;
}

section {
    border: 1px solid grey;
    border-radius: 10px;
}

section.menu {
    grid-column: 1/ span 2;
}

section.score {
    grid-column: 1 /  span 2;
}

section.footer {
    grid-column: 1/ span 2;
}


