
.wrapper {
    display: grid;
    width: 1000px;
    margin: 0 auto;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 80px 70vh 40px;
    column-gap: 10px;
    row-gap: 15px;
}

section {
    // border: 1px solid grey;
    border-radius: 10px;
}


section.score {
    grid-column: 1 /  span 2;
    //   border: 1px solid grey;
}

section.pictureContainer{
    border: 1px solid grey;
    min-height: 50vh;
}

section.quiz {
    border: 1px solid grey;
}

section.footer {
    grid-column: 1/ span 2;
}


