.pictureContainer {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    &__picture {
        max-height: 100%;
        z-index: 2;
    }
    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 110%;
        height: 110%;
        margin: -5%;
        background-size: cover;
        padding: 15px;
        filter: blur(10px);
    }
}



