
section.quiz{
display: flex;
justify-content: center;
align-items: left;
flex-direction: column;

}

.quiz p {
    color: red;
    align-self: center;
}

ul {
    color: rgb(243, 191, 191);
    margin: 20px 20px 20px 20px;
    line-height: 3rem;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 1.5rem;
    line-height: 4rem;

    
}

ul li {
    text-align: left;
    color: white;
    text-transform: initial;
    line-height: 4rem;
    font-size: 1.3rem;
    letter-spacing: 1px;
    cursor: pointer;
    border-top: 1px solid white;
    transition: 0.25s;
    padding-left: 10px;
    font-family: 'Lemonada', cursive;
}

ul li:hover {
    font-size: 1.6rem;
    color: gainsboro;
}

ul li:nth-child(3) {
    border-bottom: 1px solid white;
}

.quiz div {
    color: white;
    font-size: 50px;
    align-self: center;
}


.onClick {
    background-color: green;
}

.onClickFalse {
    background-color: red;
}