.score{
    display: flex;
    align-items: center;
    justify-content: flex-end;

}


.points-container{
    font-size: 2rem;
    color: white;
    margin-right: 80px;
    color: yellow;
    font-weight: bolds;
    text-transform: uppercase;
}



